:root {
    /* Color */
    --blue: #7689de;
    --white: #FFFFFF;
    --powderblue: #a9dce3;
    
    /* Font */
    --mono: monospace;
}

html {
    background-color: var(--powderblue);
}


/* Body tag style */
body {
    background-color: var(--white);
    font-family: sans-serif;
}

/* style changed to everything that is in the header tag*/

.box1 {
    height: 15px;
    width: 100%;
    background: var(--blue);
}
.box2 {
    position: absolute;
    top: 130px;
    height: 15px;
    width: 100%;
    background-color: var(--blue);
}

/* Header style */
.container {
    width: 100%;
    height: 120px;
}


h1 {
    font-size: xx-large;
    position: absolute;
    left: 40px;
    top: 50px;
    font-family: sans-serif;
    font-weight:bold;
    color: var(--blue)
    
}


header {
    background-color: var(--powderblue);
    display: flex;
    flex-direction: row;
    align-items: right;
    flex-wrap:wrap;
    
    
}

nav {
    display: inline;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    justify-content:space-between
    
   
}

ul { 
    display: flex;
    font-size: large;
    position: absolute;
    top : 45px;
    right: 20px;
    
}

li {
    display: inline-block;
    margin: 15px;
    font-weight: bold;
    transition: all .2s ease-in-out;
    border-radius: 10px;
    
}

li:hover {
    
    opacity: .5;
    transform: scale(1.2)
}

/* Change color of <a> tag for the nav */
a:link {
    color: var(--blue);
    text-decoration: none;
}
a:after {
    color: var(--blue);
    text-decoration: none;
}
a:visited {
    color: var(--blue);
    text-decoration: none;
}

/* Banner */
.banner {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    padding: 5%;
    
}


h2 {
    display: block;
    text-align:center;
    font-size: xx-large;
   
    color: var(--blue);

}

p {
    color: var(--blue);
    
    animation-duration: 3s;
    animation-name:slideto;
    margin: 2%;
    line-height: 35px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
}
/* Animation for p tag */
@keyframes slideto {
    from {
        margin-left: 100%;
        width: 300px;
}
    to {
        margin-left: 0%;
        width: 100%;
    }
}
/* section of main body style */

main {
    background-color: var(--powderblue);
    display: flex;
    height: 100%;
    width: 100%;
    justify-content:space-between;
}

.langbox {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding: 5%;
    gap: 2rem;
    flex-grow: 1;
    flex-shrink: 1;
    
    
}

img {
    display: flex;
    height: 200px;
    width: 350px;
    border: 10px solid var(--blue);
    object-fit:fill;
    transition: all .2s ease-in-out;
    border-radius: 10px;
    
    
}

img:hover {
    background-color: var(--blue);
    opacity: .5;
    transform: scale(1.1)
}

.projectclass {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20%;
    
}


@media screen and (max-width: 980px) {
    p {
        padding: 0%
    }
}
